name: Build

on:
  workflow_dispatch:
  push:
    branches: [ '*' ]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone project
        uses: actions/checkout@v6

      - name: Install JDK
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
          check-latest: true

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Run build with Gradle Wrapper
        run: chmod +x ./mvnw && ./mvnw clean package

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: '(${{ github.ref_name }}) ${{ github.event.head_commit.message }} (${{ github.sha }})'
          prerelease: ${{ github.ref != 'refs/heads/master' }}
          tag_name: ${{ github.ref_name }}-${{ github.sha }}
          files: |
            maptowny-plugin/target/maptowny-plugin-2.2.0-shaded.jar
